.App {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: aqua;
}

h1 {
  margin: 0;
  color: #09d9f5;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
